body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: #f2e6ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #884dff;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #884dff;
}

input[type="text"],
input[type="file"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #884dff;
    border-radius: 4px;
    color: black;
    background-color: white;
}

button {
    background-color: #884dff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
}

button:hover {
    background-color: #e65c00;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#result p {
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}
